<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <div class="container">
        <a class="navbar-brand" href="/">Seoul</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <!-- Dropdown -->
                <!-- <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                        Districts of Seoul
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">Dobong-gu (도봉구)</a>
                        <a class="dropdown-item" href="#">Dongdaemun-gu (동대문구)</a>
                        <a class="dropdown-item" href="#">Dongjak-gu (동작구)</a>
                        <a class="dropdown-item" href="#">Eunpyeong-gu (은평구)</a>
                        <a class="dropdown-item" href="#">Gangbuk-gu (강북구)</a>
                        <a class="dropdown-item" href="#">Gangdong-gu (강동구)</a>
                        <a class="dropdown-item" href="#">Gangnam-gu (강남구)</a>
                        <a class="dropdown-item" href="#">Gangseo-gu (강서구)</a>
                        <a class="dropdown-item" href="#">Geumcheon-gu (금천구)</a>
                        <a class="dropdown-item" href="#">Guro-gu (구로구)</a>
                        <a class="dropdown-item" href="#">Gwanak-gu (관악구)</a>
                        <a class="dropdown-item" href="#">Gwangjin-gu (광진구)</a>
                        <a class="dropdown-item" href="#">Jongno-gu (종로구)</a>
                        <a class="dropdown-item" href="#">Jung-gu (중구)</a>
                        <a class="dropdown-item" href="#">Jungnang-gu (중랑구)</a>
                        <a class="dropdown-item" href="#">Mapo-gu (마포구)</a>
                        <a class="dropdown-item" href="#">Nowon-gu (노원구)</a>
                        <a class="dropdown-item" href="#">Seocho-gu (서초구)</a>
                        <a class="dropdown-item" href="#">Seodaemun-gu (서대문구)</a>
                        <a class="dropdown-item" href="#">Seongbuk-gu (성북구)</a>
                        <a class="dropdown-item" href="#">Seongdong-gu (성동구)</a>
                        <a class="dropdown-item" href="#">Songpa-gu (송파구)</a>
                        <a class="dropdown-item" href="#">Yangcheon-gu (양천구)</a>
                        <a class="dropdown-item" href="#">Yeongdeungpo-gu (영등포구)</a>
                        <a class="dropdown-item" href="#">Yongsan-gu (용산구)</a>
                    </div>
                </li> -->
                <li class="nav-item">
                    <a class="nav-link" href="/administrative_divisions_of_South_Korea">Administrative divisions of South Korea</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/districts_of_Seoul">Districts of Seoul</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/provinces_of_South_Korea">Provinces of South Korea</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/numbers">Numbers</a>
                </li>
            </ul>
        </div>
    </div>
</nav>