{% extends 'layout.html' %} {% block body %}
<h1 class="text-center">Administrative divisions of South Korea</h1>
<hr />


<h3>Local government</h2>
    <table class="table table-bordered">
        <tbody class="text-center">
            <tr>
                <th>Level</th>
                <th>Group name</th>
                <th>Type</th>
                <th>한글 (Hangul)</th>
                </th>
            </tr>
            <tr>
                <td rowspan="5">1</td>
                <td rowspan="5">Upper level local autonomy<br><span lang="ko">광역지방자치단체</span><br>
                </td>
                <td>Province</td>
                <td><span lang="ko">도</span></td>
                </td>
            </tr>
            <tr>
                <td>Special self-governing province</td>
                <td><span lang="ko">특별자치도</span></td>
                </td>
            </tr>
            <tr>
                <td>Special city</td>
                <td><span lang="ko">특별시</span></td>
                </td>
            </tr>
            <tr>
                <td>Special self-governing city</td>
                <td><span lang="ko">특별자치시</span></td>
                </td>
            </tr>
            <tr>
                <td>Metropolitan city</td>
                <td><span lang="ko">광역시</span></td>
                </td>
            </tr>
            <tr>
                <td rowspan="6">2</td>
                <td rowspan="4">Lower level local autonomy<br><span lang="ko">기초지방자치단체(Municipality)</span><br>
                </td>
                <td>City</td>
                <td><span lang="ko">시</span></td>
                </td>
            </tr>
            <tr>
                <td>City <span>(specific)</span></td>
                <td><span lang="ko">시 <span>(특정시)</span></span>
                </td>
                </td>
            </tr>
            <tr>
                <td>County</td>
                <td><span lang="ko">군</span></td>
                </td>
            </tr>
            <tr>
                <td>District <span>(autonomous)</span></td>
                <td><span lang="ko">구 <span>(자치구)</span></span>
                </td>
                </td>
            </tr>
            <tr>
                <td rowspan="2">N/A</td>
                <td>City <span>(administrative)</span></td>
                <td><span lang="ko">시 <span>(행정시)</span></span>
                </td>
                </td>
            </tr>
            <tr>
                <td>District <span>(non-autonomous)</span></td>
                <td><span lang="ko">구 <span>(일반구)</span></span>
                </td>
                </td>
            </tr>
            <tr>
                <td rowspan="4">3</td>
                <td rowspan="4">N/A</td>
                <td>Town</td>
                <td><span lang="ko">읍</span></td>
                </td>
            </tr>
            <tr>
                <td>Township</td>
                <td><span lang="ko">면</span></td>
                </td>
            </tr>
            <tr>
                <td>Neighborhood <span>(legal-status)</span></td>
                <td><span lang="ko">동 <span>(법정동)</span></span>
                </td>
                </td>
            </tr>
            <tr>
                <td>Neighborhood <span>(administrative)</span></td>
                <td><span lang="ko">동 <span>(행정동)</span></span>
                </td>
                </td>
            </tr>
            <tr>
                <td rowspan="2">4</td>
                <td rowspan="2">N/A</td>
                <td>Urban Village</td>
                <td><span lang="ko">통</span></td>
            </tr>
            <tr>
                <td>Rural Village</td>
                <td><span lang="ko">리</span></td>
            </tr>
            <tr>
                <td rowspan="1">5</td>
                <td rowspan="1">N/A</td>
                <td>Hamlet</td>
                <td><span lang="ko">반</span></td>
            </tr>
        </tbody>
    </table>



    <h3>Provincial-level divisions</h3>
    <p>The top tier of administrative divisions are the provincial-level divisions, of which there are several types: provinces (including special self-governing provinces), metropolitan cities, special cities, and special self-governing cities. The governors
        of the provincial-level divisions are elected every four years.
    </p>

    <table class="table table-bordered">
        <tbody>
            <tr>
                <th>Code</th>
                <th>Emblem</th>
                <th>Name</th>
                <th>Official English name</th>
                <th>Hangul</th>
            </tr>
            <tr>
                <td>KR-11</td>
                <td>

                    <a href="/wiki/File:Logo_of_Seoul,_South_Korea.svg" class="image"><img alt="Logo of Seoul, South Korea.svg" src="//upload.wikimedia.org/wikipedia/commons/thumb/f/f6/Logo_of_Seoul%2C_South_Korea.svg/20px-Logo_of_Seoul%2C_South_Korea.svg.png" decoding="async" width="20" height="20" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/f/f6/Logo_of_Seoul%2C_South_Korea.svg/30px-Logo_of_Seoul%2C_South_Korea.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/f/f6/Logo_of_Seoul%2C_South_Korea.svg/40px-Logo_of_Seoul%2C_South_Korea.svg.png 2x"
                            data-file-width="128" data-file-height="128"></a>

                </td>
                <td>Seoul special city</td>
                <td><b>Seoul</b></td>
                <td><span lang="ko">서울특별시</span></td>
                </td>
            </tr>
            <tr>
                <td>KR-26</td>
                <td>

                    <a href="/wiki/File:Symbol_of_Busan.svg" class="image"><img alt="Symbol of Busan.svg" src="//upload.wikimedia.org/wikipedia/commons/thumb/8/89/Symbol_of_Busan.svg/20px-Symbol_of_Busan.svg.png" decoding="async" width="20" height="20" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/8/89/Symbol_of_Busan.svg/30px-Symbol_of_Busan.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/8/89/Symbol_of_Busan.svg/40px-Symbol_of_Busan.svg.png 2x"
                            data-file-width="220" data-file-height="220"></a>

                </td>
                <td>Busan metropolitan city</td>
                <td><b>Busan</b></td>
                <td><span lang="ko">부산광역시</span></td>
                </td>
            </tr>
            <tr>
                <td>KR-27</td>
                <td>

                    <a href="/wiki/File:Symbol_of_Daegu.svg" class="image"><img alt="Symbol of Daegu.svg" src="//upload.wikimedia.org/wikipedia/commons/thumb/8/82/Symbol_of_Daegu.svg/20px-Symbol_of_Daegu.svg.png" decoding="async" width="20" height="20" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/8/82/Symbol_of_Daegu.svg/30px-Symbol_of_Daegu.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/8/82/Symbol_of_Daegu.svg/40px-Symbol_of_Daegu.svg.png 2x"
                            data-file-width="220" data-file-height="220"></a>

                </td>
                <td>Daegu metropolitan city</td>
                <td><b>Daegu</b></td>
                <td><span lang="ko">대구광역시</span></td>
                </td>
            </tr>
            <tr>
                <td>KR-28</td>
                <td>

                    <a href="/wiki/File:Seal_of_Incheon.svg" class="image"><img alt="Seal of Incheon.svg" src="//upload.wikimedia.org/wikipedia/en/thumb/d/dc/Seal_of_Incheon.svg/20px-Seal_of_Incheon.svg.png" decoding="async" width="20" height="20" srcset="//upload.wikimedia.org/wikipedia/en/thumb/d/dc/Seal_of_Incheon.svg/30px-Seal_of_Incheon.svg.png 1.5x, //upload.wikimedia.org/wikipedia/en/thumb/d/dc/Seal_of_Incheon.svg/40px-Seal_of_Incheon.svg.png 2x"
                            data-file-width="220" data-file-height="220"></a>

                </td>
                <td>Incheon metropolitan city</td>
                <td><b>Incheon</b></td>
                <td><span lang="ko">인천광역시</span></td>
                </td>
            </tr>
            <tr>
                <td>KR-29</td>
                <td>

                    <a href="/wiki/File:Seal_of_Gwangju.svg" class="image"><img alt="Seal of Gwangju.svg" src="//upload.wikimedia.org/wikipedia/en/thumb/6/69/Seal_of_Gwangju.svg/20px-Seal_of_Gwangju.svg.png" decoding="async" width="20" height="20" srcset="//upload.wikimedia.org/wikipedia/en/thumb/6/69/Seal_of_Gwangju.svg/30px-Seal_of_Gwangju.svg.png 1.5x, //upload.wikimedia.org/wikipedia/en/thumb/6/69/Seal_of_Gwangju.svg/40px-Seal_of_Gwangju.svg.png 2x"
                            data-file-width="220" data-file-height="220"></a>

                </td>
                <td>Gwangju metropolitan city</td>
                <td><b>Gwangju</b></td>
                <td><span lang="ko">광주광역시</span></td>
                </td>
            </tr>
            <tr>
                <td>KR-30</td>
                <td>

                    <a href="/wiki/File:Seal_of_Daejeon.svg" class="image"><img alt="Seal of Daejeon.svg" src="//upload.wikimedia.org/wikipedia/en/thumb/b/be/Seal_of_Daejeon.svg/20px-Seal_of_Daejeon.svg.png" decoding="async" width="20" height="20" srcset="//upload.wikimedia.org/wikipedia/en/thumb/b/be/Seal_of_Daejeon.svg/30px-Seal_of_Daejeon.svg.png 1.5x, //upload.wikimedia.org/wikipedia/en/thumb/b/be/Seal_of_Daejeon.svg/40px-Seal_of_Daejeon.svg.png 2x"
                            data-file-width="220" data-file-height="220"></a>

                </td>
                <td>Daejeon metropolitan city</td>
                <td><b>Daejeon</b></td>
                <td><span lang="ko">대전광역시</span></td>
                </td>
            </tr>
            <tr>
                <td>KR-31</td>
                <td>

                    <a href="/wiki/File:Symbol_of_Ulsan.svg" class="image"><img alt="Symbol of Ulsan.svg" src="//upload.wikimedia.org/wikipedia/en/thumb/1/18/Symbol_of_Ulsan.svg/20px-Symbol_of_Ulsan.svg.png" decoding="async" width="20" height="20" srcset="//upload.wikimedia.org/wikipedia/en/thumb/1/18/Symbol_of_Ulsan.svg/30px-Symbol_of_Ulsan.svg.png 1.5x, //upload.wikimedia.org/wikipedia/en/thumb/1/18/Symbol_of_Ulsan.svg/40px-Symbol_of_Ulsan.svg.png 2x"
                            data-file-width="220" data-file-height="220"></a>

                </td>
                <td>Ulsan metropolitan city</td>
                <td><b>Ulsan</b></td>
                <td><span lang="ko">울산광역시</span></td>
                </td>
            </tr>
            <tr>
                <td>KR-50</td>
                <td>

                    <a href="/wiki/File:Symbol_of_Sejong.png" class="image"><img alt="Symbol of Sejong.png" src="//upload.wikimedia.org/wikipedia/en/thumb/f/fe/Symbol_of_Sejong.png/20px-Symbol_of_Sejong.png" decoding="async" width="20" height="11" srcset="//upload.wikimedia.org/wikipedia/en/thumb/f/fe/Symbol_of_Sejong.png/30px-Symbol_of_Sejong.png 1.5x, //upload.wikimedia.org/wikipedia/en/thumb/f/fe/Symbol_of_Sejong.png/40px-Symbol_of_Sejong.png 2x"
                            data-file-width="178" data-file-height="97"></a>

                </td>
                <td>Sejong special self-governing city</td>
                <td><b>Sejong Special Self-Governing City</b></td>
                <td><span lang="ko">세종특별자치시</span></td>
                </td>
            </tr>
            <tr>
                <td>KR-41</td>
                <td>

                    <a href="/wiki/File:Emblem_of_Gyeonggi_Province.svg" class="image"><img alt="Emblem of Gyeonggi Province.svg" src="//upload.wikimedia.org/wikipedia/commons/thumb/f/f6/Emblem_of_Gyeonggi_Province.svg/20px-Emblem_of_Gyeonggi_Province.svg.png" decoding="async" width="20" height="22" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/f/f6/Emblem_of_Gyeonggi_Province.svg/30px-Emblem_of_Gyeonggi_Province.svg.png 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/f/f6/Emblem_of_Gyeonggi_Province.svg/40px-Emblem_of_Gyeonggi_Province.svg.png 2x"
                            data-file-width="221" data-file-height="245"></a>

                </td>
                <td>Gyeonggi Province</td>
                <td><b>Gyeonggi-do</b></td>
                <td><span lang="ko">경기도</span></td>
                </td>
            </tr>
            <tr>
                <td>KR-42</td>
                <td>

                    <a href="/wiki/File:Seal_of_Gangwon.svg" class="image"><img alt="Seal of Gangwon.svg" src="//upload.wikimedia.org/wikipedia/en/thumb/f/f4/Seal_of_Gangwon.svg/20px-Seal_of_Gangwon.svg.png" decoding="async" width="20" height="20" srcset="//upload.wikimedia.org/wikipedia/en/thumb/f/f4/Seal_of_Gangwon.svg/30px-Seal_of_Gangwon.svg.png 1.5x, //upload.wikimedia.org/wikipedia/en/thumb/f/f4/Seal_of_Gangwon.svg/40px-Seal_of_Gangwon.svg.png 2x"
                            data-file-width="220" data-file-height="220"></a>

                </td>
                <td>Gangwon Province</td>
                <td><b>Gangwon-do</b></td>
                <td><span lang="ko">강원도</span></td>
                </td>
            </tr>
            <tr>
                <td>KR-43</td>
                <td>

                    <a href="/wiki/File:Seal_of_North_Chungcheong.svg" class="image"><img alt="Seal of North Chungcheong.svg" src="//upload.wikimedia.org/wikipedia/en/thumb/b/be/Seal_of_North_Chungcheong.svg/20px-Seal_of_North_Chungcheong.svg.png" decoding="async" width="20" height="20" srcset="//upload.wikimedia.org/wikipedia/en/thumb/b/be/Seal_of_North_Chungcheong.svg/30px-Seal_of_North_Chungcheong.svg.png 1.5x, //upload.wikimedia.org/wikipedia/en/thumb/b/be/Seal_of_North_Chungcheong.svg/40px-Seal_of_North_Chungcheong.svg.png 2x"
                            data-file-width="220" data-file-height="220"></a>

                </td>
                <td>North Chungcheong Province</td>
                <td><b>Chungcheongbuk-do</b></td>
                <td><span lang="ko">충청북도</span></td>
                </td>
            </tr>
            <tr>
                <td>KR-44</td>
                <td>

                    <a href="/wiki/File:Seal_of_South_Chungcheong.svg" class="image"><img alt="Seal of South Chungcheong.svg" src="//upload.wikimedia.org/wikipedia/en/thumb/9/9f/Seal_of_South_Chungcheong.svg/20px-Seal_of_South_Chungcheong.svg.png" decoding="async" width="20" height="20" srcset="//upload.wikimedia.org/wikipedia/en/thumb/9/9f/Seal_of_South_Chungcheong.svg/30px-Seal_of_South_Chungcheong.svg.png 1.5x, //upload.wikimedia.org/wikipedia/en/thumb/9/9f/Seal_of_South_Chungcheong.svg/40px-Seal_of_South_Chungcheong.svg.png 2x"
                            data-file-width="220" data-file-height="220"></a>

                </td>
                <td>South Chungcheong Province</td>
                <td><b>Chungcheongnam-do</b></td>
                <td><span lang="ko">충청남도</span></td>
                </td>
            </tr>
            <tr>
                <td>KR-45</td>
                <td>

                    <a href="/wiki/File:Symbol_of_Jeonbuk.svg" class="image"><img alt="Symbol of Jeonbuk.svg" src="//upload.wikimedia.org/wikipedia/en/thumb/d/da/Symbol_of_Jeonbuk.svg/20px-Symbol_of_Jeonbuk.svg.png" decoding="async" width="20" height="20" srcset="//upload.wikimedia.org/wikipedia/en/thumb/d/da/Symbol_of_Jeonbuk.svg/30px-Symbol_of_Jeonbuk.svg.png 1.5x, //upload.wikimedia.org/wikipedia/en/thumb/d/da/Symbol_of_Jeonbuk.svg/40px-Symbol_of_Jeonbuk.svg.png 2x"
                            data-file-width="220" data-file-height="220"></a>

                </td>
                <td>North Jeolla Province</td>
                <td><b>Jeollabuk-do</b></td>
                <td><span lang="ko">전라북도</span></td>
                </td>
            </tr>
            <tr>
                <td>KR-46</td>
                <td>

                    <a href="/wiki/File:Seal_of_South_Jeolla.svg" class="image"><img alt="Seal of South Jeolla.svg" src="//upload.wikimedia.org/wikipedia/en/thumb/6/65/Seal_of_South_Jeolla.svg/20px-Seal_of_South_Jeolla.svg.png" decoding="async" width="20" height="20" srcset="//upload.wikimedia.org/wikipedia/en/thumb/6/65/Seal_of_South_Jeolla.svg/30px-Seal_of_South_Jeolla.svg.png 1.5x, //upload.wikimedia.org/wikipedia/en/thumb/6/65/Seal_of_South_Jeolla.svg/40px-Seal_of_South_Jeolla.svg.png 2x"
                            data-file-width="220" data-file-height="220"></a>

                </td>
                <td>South Jeolla Province</td>
                <td><b>Jeollanam-do</b></td>
                <td><span lang="ko">전라남도</span></td>
                </td>
            </tr>
            <tr>
                <td>KR-47</td>
                <td>

                    <a href="/wiki/File:Seal_of_North_Gyeongsang.svg" class="image"><img alt="Seal of North Gyeongsang.svg" src="//upload.wikimedia.org/wikipedia/en/thumb/d/df/Seal_of_North_Gyeongsang.svg/20px-Seal_of_North_Gyeongsang.svg.png" decoding="async" width="20" height="20" srcset="//upload.wikimedia.org/wikipedia/en/thumb/d/df/Seal_of_North_Gyeongsang.svg/30px-Seal_of_North_Gyeongsang.svg.png 1.5x, //upload.wikimedia.org/wikipedia/en/thumb/d/df/Seal_of_North_Gyeongsang.svg/40px-Seal_of_North_Gyeongsang.svg.png 2x"
                            data-file-width="220" data-file-height="220"></a>

                </td>
                <td>North Gyeongsang Province</td>
                <td><b>Gyeongsangbuk-do</b></td>
                <td><span lang="ko">경상북도</span></td>
                </td>
            </tr>
            <tr>
                <td>KR-48</td>
                <td>

                    <a href="/wiki/File:Seal_of_South_Gyeongsang.svg" class="image"><img alt="Seal of South Gyeongsang.svg" src="//upload.wikimedia.org/wikipedia/en/thumb/b/bd/Seal_of_South_Gyeongsang.svg/20px-Seal_of_South_Gyeongsang.svg.png" decoding="async" width="20" height="20" srcset="//upload.wikimedia.org/wikipedia/en/thumb/b/bd/Seal_of_South_Gyeongsang.svg/30px-Seal_of_South_Gyeongsang.svg.png 1.5x, //upload.wikimedia.org/wikipedia/en/thumb/b/bd/Seal_of_South_Gyeongsang.svg/40px-Seal_of_South_Gyeongsang.svg.png 2x"
                            data-file-width="220" data-file-height="220"></a>

                </td>
                <td>South Gyeongsang Province</td>
                <td><b>Gyeongsangnam-do</b></td>
                <td><span lang="ko">경상남도</span></td>
                </td>
            </tr>
            <tr>
                <td>KR-49</td>
                <td>

                    <a href="/wiki/File:Logo_of_Jeju_Province,_South_Korea.svg" class="image"><img alt="Logo of Jeju Province, South Korea.svg" src="//upload.wikimedia.org/wikipedia/en/thumb/b/bd/Logo_of_Jeju_Province%2C_South_Korea.svg/20px-Logo_of_Jeju_Province%2C_South_Korea.svg.png" decoding="async" width="20" height="8"
                            srcset="//upload.wikimedia.org/wikipedia/en/thumb/b/bd/Logo_of_Jeju_Province%2C_South_Korea.svg/30px-Logo_of_Jeju_Province%2C_South_Korea.svg.png 1.5x, //upload.wikimedia.org/wikipedia/en/thumb/b/bd/Logo_of_Jeju_Province%2C_South_Korea.svg/40px-Logo_of_Jeju_Province%2C_South_Korea.svg.png 2x"
                            data-file-width="207" data-file-height="81"></a>

                </td>
                <td>Jeju special self-governing province</td>
                <td><b>Jeju Special Self-Governing Province</b></td>
                <td><span lang="ko">제주특별자치도</span></td>
                </td>
            </tr>
        </tbody>
    </table>


    {% endblock %}