{% extends 'layout.html' %} {% block body %}
<h2>List of districts of Seoul</h2>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>English Name</th>
            <th>한글 (Hangul)</th>
            <th>Description</th>
            <th>Image</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Dobong-gu</td>
            <td>도봉구</td>
            <td></td>
            <td><img src="{{ url_for('static', filename='images/seoul_districts/250px-Seoul_Dobong-gu.svg.png')}}"></td>
        </tr>
        <tr>
            <td>Dongdaemun-gu</td>
            <td>동대문구</td>
            <td></td>
            <td><img src="{{ url_for('static', filename='images/seoul_districts/250px-Seoul_Dongdaemun-gu.svg.png')}}"></td>
        </tr>
        <tr>
            <td>Dongjak-gu</td>
            <td>동작구</td>
            <td></td>
            <td><img src="{{ url_for('static', filename='images/seoul_districts/250px-Seoul_Dongjak-gu.svg.png')}}"></td>
        </tr>
        <tr>
            <td>Eunpyeong-gu</td>
            <td>은평구</td>
            <td></td>
            <td><img src="{{ url_for('static', filename='images/seoul_districts/250px-Seoul_Eunpyeong-gu.svg.png')}}"></td>
        </tr>
        <tr>
            <td>Gangbuk-gu</td>
            <td>강북구</td>
            <td></td>
            <td><img src="{{ url_for('static', filename='images/seoul_districts/250px-Seoul_Gangbuk-gu.svg.png')}}"></td>
        </tr>
        <tr>
            <td>Gangdong-gu</td>
            <td>강동구</td>
            <td></td>
            <td><img src="{{ url_for('static', filename='images/seoul_districts/250px-Seoul_Gangdong-gu.svg.png')}}"></td>
        </tr>
        <tr>
            <td>Gangnam-gu <sup><span class="badge badge-success">Popular!</span></sup></td>
            <td>강남구</td>
            <td></td>
            <td><img src="{{ url_for('static', filename='images/seoul_districts/250px-Seoul_Gangnam-gu.svg.png')}}"></td>
        </tr>
        <tr>
            <td>Gangseo-gu</td>
            <td>강서구</td>
            <td></td>
            <td><img src="{{ url_for('static', filename='images/seoul_districts/250px-Seoul_Gangseo-gu.svg.png')}}"></td>
        </tr>
        <tr>
            <td>Geumcheon-gu</td>
            <td>금천구</td>
            <td></td>
            <td><img src="{{ url_for('static', filename='images/seoul_districts/250px-Seoul_Geumcheon-gu.svg.png')}}"></td>
        </tr>
        <tr>
            <td>Guro-gu</td>
            <td>구로구</td>
            <td></td>
            <td><img src="{{ url_for('static', filename='images/seoul_districts/250px-Seoul_Guro-gu.svg.png')}}"></td>
        </tr>
        <tr>
            <td>Gwanak-gu</td>
            <td>관악구</td>
            <td></td>
            <td><img src="{{ url_for('static', filename='images/seoul_districts/250px-Seoul_Gwanak-gu.svg.png')}}"></td>
        </tr>
        <tr>
            <td>Gwangjin-gu</td>
            <td>광진구</td>
            <td></td>
            <td><img src="{{ url_for('static', filename='images/seoul_districts/250px-Seoul_Gwangjin-gu.svg.png')}}"></td>
        </tr>
        <tr>
            <td>Jongno-gu</td>
            <td>종로구</td>
            <td></td>
            <td><img src="{{ url_for('static', filename='images/seoul_districts/250px-Seoul_Jongno-gu.svg.png')}}"></td>
        </tr>
        <tr>
            <td>Jung-gu</td>
            <td>중구</td>
            <td></td>
            <td><img src="{{ url_for('static', filename='images/seoul_districts/250px-Seoul_Jung-gu.svg.png')}}"></td>
        </tr>
        <tr>
            <td>Jungnang-gu</td>
            <td>중랑구</td>
            <td></td>
            <td><img src="{{ url_for('static', filename='images/seoul_districts/250px-Seoul_Jungnang-gu.svg.png')}}"></td>
        </tr>
        <tr>
            <td>Mapo-gu</td>
            <td>마포구</td>
            <td></td>
            <td><img src="{{ url_for('static', filename='images/seoul_districts/250px-Seoul_Mapo-gu.svg.png')}}"></td>
        </tr>
        <tr>
            <td>Nowon-gu</td>
            <td>노원구</td>
            <td></td>
            <td><img src="{{ url_for('static', filename='images/seoul_districts/250px-Seoul_Nowon-gu.svg.png')}}"></td>
        </tr>
        <tr>
            <td>Seocho-gu</td>
            <td>서초구</td>
            <td></td>
            <td><img src="{{ url_for('static', filename='images/seoul_districts/250px-Seoul_Seocho-gu.svg.png')}}"></td>
        </tr>
        <tr>
            <td>Seodaemun-gu</td>
            <td>서대문구</td>
            <td></td>
            <td><img src="{{ url_for('static', filename='images/seoul_districts/250px-Seoul_Seodaemun-gu.svg.png')}}"></td>
        </tr>
        <tr>
            <td>Seongbuk-gu</td>
            <td>성북구</td>
            <td></td>
            <td><img src="{{ url_for('static', filename='images/seoul_districts/250px-Seoul_Seongbuk-gu.svg.png')}}"></td>
        </tr>
        <tr>
            <td>Seongdong-gu</td>
            <td>성동구</td>
            <td></td>
            <td><img src="{{ url_for('static', filename='images/seoul_districts/250px-Seoul_Seongdong-gu.svg.png')}}"></td>
        </tr>
        <tr>
            <td>Songpa-gu</td>
            <td>송파구</td>
            <td></td>
            <td><img src="{{ url_for('static', filename='images/seoul_districts/250px-Seoul_Songpa-gu.svg.png')}}"></td>
        </tr>
        <tr>
            <td>Yangcheon-gu</td>
            <td>양천구</td>
            <td></td>
            <td><img src="{{ url_for('static', filename='images/seoul_districts/250px-Seoul_Yangcheon-gu.svg.png')}}"></td>
        </tr>
        <tr>
            <td>Yeongdeungpo-gu</td>
            <td>영등포구</td>
            <td></td>
            <td><img src="{{ url_for('static', filename='images/seoul_districts/250px-Seoul_Yeongdeungpo-gu.svg.png')}}"></td>
        </tr>
        <tr>
            <td>Yongsan-gu</td>
            <td>용산구</td>
            <td></td>
            <td><img src="{{ url_for('static', filename='images/seoul_districts/250px-Seoul_Yongsan-gu.svg.png')}}"></td>
        </tr>
    </tbody>
</table>







{% endblock %}