{% extends 'layout.html' %} {% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>Numeral</th>
                        <th>Sino-Korean (China System)</th>
                        <th>Native Korean (Korea System)</th>
                    </tr>
                </thead>
                <tbody class="row-hover">
                    <tr class="row-2 even" role="row">
                        <td class="column-1">1</td>
                        <td class="column-2"><a class="fas fa-volume-up" style="cursor: pointer !important;" data-audio-url="https://90dkmembersite.s3-us-west-1.amazonaws.com/audio/audio-il.mp3" aria-hidden="true"> 일 (il) </a></td>
                        <td class="column-3"><a class="fas fa-volume-up" style="cursor: pointer !important;" data-audio-url="https://90dkmembersite.s3-us-west-1.amazonaws.com/audio/audio-hana.mp3" aria-hidden="true"> 하나 (hana) </a></td>
                    </tr>
                    <tr class="row-3 odd" role="row">
                        <td class="column-1">2</td>
                        <td class="column-2"><a class="fas fa-volume-up" style="cursor: pointer !important;" data-audio-url="https://90dkmembersite.s3-us-west-1.amazonaws.com/audio/audio-i.mp3" aria-hidden="true"> 이 (i) </a></td>
                        <td class="column-3"><a class="fas fa-volume-up" style="cursor: pointer !important;" data-audio-url="https://90dkmembersite.s3-us-west-1.amazonaws.com/audio/audio-dul.mp3" aria-hidden="true"> 둘 (dul) </a></td>
                    </tr>
                    <tr class="row-4 even" role="row">
                        <td class="column-1">3</td>
                        <td class="column-2"><a class="fas fa-volume-up" style="cursor: pointer !important;" data-audio-url="https://90dkmembersite.s3-us-west-1.amazonaws.com/audio/audio-sam.mp3" aria-hidden="true"> 삼 (sam) </a></td>
                        <td class="column-3"><a class="fas fa-volume-up" style="cursor: pointer !important;" data-audio-url="https://90dkmembersite.s3-us-west-1.amazonaws.com/audio/audio-set.mp3" aria-hidden="true"> 셋 (set) </a></td>
                    </tr>
                    <tr class="row-5 odd" role="row">
                        <td class="column-1">4</td>
                        <td class="column-2"><a class="fas fa-volume-up" style="cursor: pointer !important;" data-audio-url="https://90dkmembersite.s3-us-west-1.amazonaws.com/audio/audio-sa.mp3" aria-hidden="true"> 사 (sa) </a></td>
                        <td class="column-3"><a class="fas fa-volume-up" style="cursor: pointer !important;" data-audio-url="https://90dkmembersite.s3-us-west-1.amazonaws.com/audio/audio-net.mp3" aria-hidden="true"> 넷 (net) </a></td>
                    </tr>
                    <tr class="row-6 even" role="row">
                        <td class="column-1">5</td>
                        <td class="column-2"><a class="fas fa-volume-up" style="cursor: pointer !important;" data-audio-url="https://90dkmembersite.s3-us-west-1.amazonaws.com/audio/audio-o.mp3" aria-hidden="true"> 오 (o) </a></td>
                        <td class="column-3"><a class="fas fa-volume-up" style="cursor: pointer !important;" data-audio-url="https://90daykoreanaudiobytes.s3-us-west-1.amazonaws.com/audio-daseot.mp3" aria-hidden="true"> 다섯 (daseot) </a></td>
                    </tr>
                    <tr class="row-7 odd" role="row">
                        <td class="column-1">6</td>
                        <td class="column-2"><a class="fas fa-volume-up" style="cursor: pointer !important;" data-audio-url="https://90dkmembersite.s3-us-west-1.amazonaws.com/audio/audio-yuk.mp3" aria-hidden="true"> 육 (yuk) </a></td>
                        <td class="column-3"><a class="fas fa-volume-up" style="cursor: pointer !important;" data-audio-url="https://90daykoreanaudiobytes.s3-us-west-1.amazonaws.com/audio-yeoseot.mp3" aria-hidden="true"> 여섯 (yeoseot) </a></td>
                    </tr>
                    <tr class="row-8 even" role="row">
                        <td class="column-1">7</td>
                        <td class="column-2"><a class="fas fa-volume-up" style="cursor: pointer !important;" data-audio-url="https://90dkmembersite.s3-us-west-1.amazonaws.com/audio/audio-chil.mp3" aria-hidden="true"> 칠 (chil) </a></td>
                        <td class="column-3"><a class="fas fa-volume-up" style="cursor: pointer !important;" data-audio-url="https://90daykoreanaudiobytes.s3-us-west-1.amazonaws.com/audio-ilgop.mp3" aria-hidden="true"> 일곱 (ilgop) </a></td>
                    </tr>
                    <tr class="row-9 odd" role="row">
                        <td class="column-1">8</td>
                        <td class="column-2"><a class="fas fa-volume-up" style="cursor: pointer !important;" data-audio-url="https://90dkmembersite.s3-us-west-1.amazonaws.com/audio/audio-pal.mp3" aria-hidden="true"> 팔 (pal) </a></td>
                        <td class="column-3"><a class="fas fa-volume-up" style="cursor: pointer !important;" data-audio-url="https://90daykoreanaudiobytes.s3-us-west-1.amazonaws.com/audio-yeodeol.mp3" aria-hidden="true"> 여덟 (yeodeol) </a></td>
                    </tr>
                    <tr class="row-10 even" role="row">
                        <td class="column-1">9</td>
                        <td class="column-2"><a class="fas fa-volume-up" style="cursor: pointer !important;" data-audio-url="https://90dkmembersite.s3-us-west-1.amazonaws.com/audio/audio-gu.mp3" aria-hidden="true"> 구 (gu) </a></td>
                        <td class="column-3"><a class="fas fa-volume-up" style="cursor: pointer !important;" data-audio-url="https://90daykoreanaudiobytes.s3-us-west-1.amazonaws.com/audio-ahop.mp3" aria-hidden="true"> 아홉 (ahop) </a></td>
                    </tr>
                    <tr class="row-11 odd" role="row">
                        <td class="column-1">10</td>
                        <td class="column-2"><a class="fas fa-volume-up" style="cursor: pointer !important;" data-audio-url="https://90dkmembersite.s3-us-west-1.amazonaws.com/audio/audio-sip.mp3" aria-hidden="true"> 십 (sip) </a></td>
                        <td class="column-3"><a class="fas fa-volume-up" style="cursor: pointer !important;" data-audio-url="https://90daykoreanaudiobytes.s3-us-west-1.amazonaws.com/audio-yeol.mp3" aria-hidden="true"> 열 (yeol) </a></td>
                    </tr>
                    <tr class="row-12 even" role="row">
                        <td class="column-1">11</td>
                        <td class="column-2"><a class="fas fa-volume-up" style="cursor: pointer !important;" data-audio-url="https://90daykoreanaudiobytes.s3-us-west-1.amazonaws.com/audio-sibil.mp3" aria-hidden="true"> 십일 (sibil) </a></td>
                        <td class="column-3"><a class="fas fa-volume-up" style="cursor: pointer !important;" data-audio-url="https://90daykoreanaudiobytes.s3-us-west-1.amazonaws.com/audio-yeolhana.mp3" aria-hidden="true"> 열하나 (yeolhana) </a></td>
                    </tr>
                    <tr class="row-13 odd" role="row">
                        <td class="column-1">12</td>
                        <td class="column-2"><a class="fas fa-volume-up" style="cursor: pointer !important;" data-audio-url="https://90daykoreanaudiobytes.s3-us-west-1.amazonaws.com/audio-sibi.mp3" aria-hidden="true"> 십이 (sibi) </a></td>
                        <td class="column-3"><a class="fas fa-volume-up" style="cursor: pointer !important;" data-audio-url="https://90daykoreanaudiobytes.s3-us-west-1.amazonaws.com/audio-yeoldul.mp3" aria-hidden="true"> 열둘 (yeoldul) </a></td>
                    </tr>
                    <tr class="row-14 even" role="row">
                        <td class="column-1">13</td>
                        <td class="column-2"><a class="fas fa-volume-up" style="cursor: pointer !important;" data-audio-url="https://90daykoreanaudiobytes.s3-us-west-1.amazonaws.com/audio-sipsam.mp3" aria-hidden="true"> 십삼 (sipsam) </a></td>
                        <td class="column-3"><a class="fas fa-volume-up" style="cursor: pointer !important;" data-audio-url="https://90daykoreanaudiobytes.s3-us-west-1.amazonaws.com/audio-yeolset.mp3" aria-hidden="true"> 열셋 (yeolset) </a></td>
                    </tr>
                    <tr class="row-15 odd" role="row">
                        <td class="column-1">14</td>
                        <td class="column-2"><a class="fas fa-volume-up" style="cursor: pointer !important;" data-audio-url="https://90daykoreanaudiobytes.s3-us-west-1.amazonaws.com/audio-sipsa.mp3" aria-hidden="true"> 십사 (sipsa) </a></td>
                        <td class="column-3"><a class="fas fa-volume-up" style="cursor: pointer !important;" data-audio-url="https://90daykoreanaudiobytes.s3-us-west-1.amazonaws.com/+audio-yeolnet.mp3" aria-hidden="true"> 열넷 (yeolnet) </a></td>
                    </tr>
                    <tr class="row-16 even" role="row">
                        <td class="column-1">15</td>
                        <td class="column-2"><a class="fas fa-volume-up" style="cursor: pointer !important;" data-audio-url="https://90daykoreanaudiobytes.s3-us-west-1.amazonaws.com/audio-sibo.mp3" aria-hidden="true"> 십오 (sibo) </a></td>
                        <td class="column-3"><a class="fas fa-volume-up" style="cursor: pointer !important;" data-audio-url="https://90daykoreanaudiobytes.s3-us-west-1.amazonaws.com/audio-yeoldaseot.mp3" aria-hidden="true"> 열다섯 (yeoldaseot) </a></td>
                    </tr>
                    <tr class="row-17 odd" role="row">
                        <td class="column-1">16</td>
                        <td class="column-2"><a class="fas fa-volume-up" style="cursor: pointer !important;" data-audio-url="https://90daykoreanaudiobytes.s3-us-west-1.amazonaws.com/audio-sibyuk.mp3" aria-hidden="true"> 십육 (sibyuk) </a></td>
                        <td class="column-3"><a class="fas fa-volume-up" style="cursor: pointer !important;" data-audio-url="https://90daykoreanaudiobytes.s3-us-west-1.amazonaws.com/audio-yeolyeoseot.mp3" aria-hidden="true"> 열여섯 (yeolyeoseot) </a></td>
                    </tr>
                    <tr class="row-18 even" role="row">
                        <td class="column-1">17</td>
                        <td class="column-2"><a class="fas fa-volume-up" style="cursor: pointer !important;" data-audio-url="https://90daykoreanaudiobytes.s3-us-west-1.amazonaws.com/audio-sipchil.mp3" aria-hidden="true"> 십칠 (sipchil) </a></td>
                        <td class="column-3"><a class="fas fa-volume-up" style="cursor: pointer !important;" data-audio-url="https://90daykoreanaudiobytes.s3-us-west-1.amazonaws.com/audio-yeorilgop.mp3" aria-hidden="true"> 열일곱 (yeolilgob) </a></td>
                    </tr>
                    <tr class="row-19 odd" role="row">
                        <td class="column-1">18</td>
                        <td class="column-2"><a class="fas fa-volume-up" style="cursor: pointer !important;" data-audio-url="https://90daykoreanaudiobytes.s3-us-west-1.amazonaws.com/audio-sippal.mp3" aria-hidden="true"> 십팔 (sip-pal) </a></td>
                        <td class="column-3"><a class="fas fa-volume-up" style="cursor: pointer !important;" data-audio-url="https://90daykoreanaudiobytes.s3-us-west-1.amazonaws.com/audio-yeollyeodeol.mp3" aria-hidden="true"> 열여덟 (yeolyeodeol) </a></td>
                    </tr>
                    <tr class="row-20 even" role="row">
                        <td class="column-1">19</td>
                        <td class="column-2"><a class="fas fa-volume-up" style="cursor: pointer !important;" data-audio-url="https://90daykoreanaudiobytes.s3-us-west-1.amazonaws.com/audio-sipgu.mp3" aria-hidden="true"> 십구 (sipgu) </a></td>
                        <td class="column-3"><a class="fas fa-volume-up" style="cursor: pointer !important;" data-audio-url="https://90daykoreanaudiobytes.s3-us-west-1.amazonaws.com/audio-yeolahop.mp3" aria-hidden="true"> 열아홉 (yeolahop) </a></td>
                    </tr>
                    <tr class="row-21 odd" role="row">
                        <td class="column-1">20</td>
                        <td class="column-2"><a class="fas fa-volume-up" style="cursor: pointer !important;" data-audio-url="https://90daykoreanaudiobytes.s3-us-west-1.amazonaws.com/audio-isip.mp3" aria-hidden="true"> 이십 (isip) </a></td>
                        <td class="column-3"><a class="fas fa-volume-up" style="cursor: pointer !important;" data-audio-url="https://90daykoreanaudiobytes.s3-us-west-1.amazonaws.com/audio-seumul.mp3" aria-hidden="true"> 스물 (seumul) </a></td>
                    </tr>
                    <tr class="row-22 even" role="row">
                        <td class="column-1">30</td>
                        <td class="column-2"><a class="fas fa-volume-up" style="cursor: pointer !important;" data-audio-url="https://90daykoreanaudiobytes.s3-us-west-1.amazonaws.com/audio-samsip.mp3" aria-hidden="true"> 삼십 (samsip) </a></td>
                        <td class="column-3"><a class="fas fa-volume-up" style="cursor: pointer !important;" data-audio-url="https://90daykoreanaudiobytes.s3-us-west-1.amazonaws.com/audio-seoreun.mp3" aria-hidden="true"> 서른 (seoreun) </a></td>
                    </tr>
                    <tr class="row-23 odd" role="row">
                        <td class="column-1">40</td>
                        <td class="column-2"><a class="fas fa-volume-up" style="cursor: pointer !important;" data-audio-url="https://90daykoreanaudiobytes.s3-us-west-1.amazonaws.com/audio-sasip.mp3" aria-hidden="true"> 사십 (sasip) </a></td>
                        <td class="column-3"><a class="fas fa-volume-up" style="cursor: pointer !important;" data-audio-url="https://90daykoreanaudiobytes.s3-us-west-1.amazonaws.com/audio-maheun.mp3" aria-hidden="true"> 마흔 (maheun) </a></td>
                    </tr>
                    <tr class="row-24 even" role="row">
                        <td class="column-1">50</td>
                        <td class="column-2"><a class="fas fa-volume-up" style="cursor: pointer !important;" data-audio-url="https://90daykoreanaudiobytes.s3-us-west-1.amazonaws.com/audio-osip.mp3" aria-hidden="true"> 오십 (osip) </a></td>
                        <td class="column-3"><a class="fas fa-volume-up" style="cursor: pointer !important;" data-audio-url="https://90daykoreanaudiobytes.s3-us-west-1.amazonaws.com/audio-swin.mp3" aria-hidden="true"> 쉰 (swin) </a></td>
                    </tr>
                    <tr class="row-25 odd" role="row">
                        <td class="column-1">60</td>
                        <td class="column-2"><a class="fas fa-volume-up" style="cursor: pointer !important;" data-audio-url="https://90daykoreanaudiobytes.s3-us-west-1.amazonaws.com/audio-yuksip.mp3" aria-hidden="true"> 육십 (yuksip) </a></td>
                        <td class="column-3"><a class="fas fa-volume-up" style="cursor: pointer !important;" data-audio-url="https://90daykoreanaudiobytes.s3-us-west-1.amazonaws.com/audio-yesun.mp3" aria-hidden="true"> 예순 (yesun) </a></td>
                    </tr>
                    <tr class="row-26 even" role="row">
                        <td class="column-1">70</td>
                        <td class="column-2"><a class="fas fa-volume-up" style="cursor: pointer !important;" data-audio-url="https://90daykoreanaudiobytes.s3-us-west-1.amazonaws.com/audio-chilsip.mp3" aria-hidden="true"> 칠십 (chilsip) </a></td>
                        <td class="column-3"><a class="fas fa-volume-up" style="cursor: pointer !important;" data-audio-url="https://90daykoreanaudiobytes.s3-us-west-1.amazonaws.com/audio-ilheun.mp3" aria-hidden="true"> 일흔 (ilheun) </a></td>
                    </tr>
                    <tr class="row-27 odd" role="row">
                        <td class="column-1">80</td>
                        <td class="column-2"><a class="fas fa-volume-up" style="cursor: pointer !important;" data-audio-url="https://90daykoreanaudiobytes.s3-us-west-1.amazonaws.com/audio-palsip.mp3" aria-hidden="true"> 팔십(palsip) </a></td>
                        <td class="column-3"><a class="fas fa-volume-up" style="cursor: pointer !important;" data-audio-url="https://90daykoreanaudiobytes.s3-us-west-1.amazonaws.com/audio-yeodeun.mp3" aria-hidden="true"> 여든 (yeodeun) </a></td>
                    </tr>
                    <tr class="row-28 even" role="row">
                        <td class="column-1">90</td>
                        <td class="column-2"><a class="fas fa-volume-up" style="cursor: pointer !important;" data-audio-url="https://90daykoreanaudiobytes.s3-us-west-1.amazonaws.com/audio-gusip.mp3" aria-hidden="true"> 구십 (gusip) </a></td>
                        <td class="column-3"><a class="fas fa-volume-up" style="cursor: pointer !important;" data-audio-url="https://90daykoreanaudiobytes.s3-us-west-1.amazonaws.com/audio-aheun.mp3" aria-hidden="true"> 아흔 (aheun) </a></td>
                    </tr>
                    <tr class="row-29 odd" role="row">
                        <td class="column-1">100</td>
                        <td class="column-2"><a class="fas fa-volume-up" style="cursor: pointer !important;" data-audio-url="https://90daykoreanaudiobytes.s3-us-west-1.amazonaws.com/audio-baek.mp3" aria-hidden="true"> 백 (baek) </a></td>
                        <td class="column-3"></td>
                    </tr>
                    <tr class="row-30 even" role="row">
                        <td class="column-1">200</td>
                        <td class="column-2"><a class="fas fa-volume-up" style="cursor: pointer !important;" data-audio-url="https://90daykoreanaudiobytes.s3-us-west-1.amazonaws.com/audio-ibaek.mp3" aria-hidden="true"> 이백 (ibaek) </a></td>
                        <td class="column-3"></td>
                    </tr>
                    <tr class="row-31 odd" role="row">
                        <td class="column-1">300</td>
                        <td class="column-2"><a class="fas fa-volume-up" style="cursor: pointer !important;" data-audio-url="https://90daykoreanaudiobytes.s3-us-west-1.amazonaws.com/audio-sambaek.mp3" aria-hidden="true"> 삼백 (sambaek) </a></td>
                        <td class="column-3"></td>
                    </tr>
                    <tr class="row-32 even" role="row">
                        <td class="column-1">400</td>
                        <td class="column-2"><a class="fas fa-volume-up" style="cursor: pointer !important;" data-audio-url="https://90daykoreanaudiobytes.s3-us-west-1.amazonaws.com/audio-sabaek.mp3" aria-hidden="true"> 사백 (sabaek) </a></td>
                        <td class="column-3"></td>
                    </tr>
                    <tr class="row-33 odd" role="row">
                        <td class="column-1">500</td>
                        <td class="column-2"><a class="fas fa-volume-up" style="cursor: pointer !important;" data-audio-url="https://90daykoreanaudiobytes.s3-us-west-1.amazonaws.com/audio-obaek.mp3" aria-hidden="true"> 오백 (obaek) </a></td>
                        <td class="column-3"></td>
                    </tr>
                    <tr class="row-34 even" role="row">
                        <td class="column-1">600</td>
                        <td class="column-2"><a class="fas fa-volume-up" style="cursor: pointer !important;" data-audio-url="https://90daykoreanaudiobytes.s3-us-west-1.amazonaws.com/audio-yukbaek.mp3" aria-hidden="true"> 육백 (yukbaek) </a></td>
                        <td class="column-3"></td>
                    </tr>
                    <tr class="row-35 odd" role="row">
                        <td class="column-1">700</td>
                        <td class="column-2"><a class="fas fa-volume-up" style="cursor: pointer !important;" data-audio-url="https://90daykoreanaudiobytes.s3-us-west-1.amazonaws.com/audio-chilbaek.mp3" aria-hidden="true"> 칠백 (chilbaek) </a></td>
                        <td class="column-3"></td>
                    </tr>
                    <tr class="row-36 even" role="row">
                        <td class="column-1">800</td>
                        <td class="column-2"><a class="fas fa-volume-up" style="cursor: pointer !important;" data-audio-url="https://90daykoreanaudiobytes.s3-us-west-1.amazonaws.com/audio-palbaek.mp3" aria-hidden="true"> 팔백 (palbaek) </a></td>
                        <td class="column-3"></td>
                    </tr>
                    <tr class="row-37 odd" role="row">
                        <td class="column-1">900</td>
                        <td class="column-2"><a class="fas fa-volume-up" style="cursor: pointer !important;" data-audio-url="https://90daykoreanaudiobytes.s3-us-west-1.amazonaws.com/audio-gubaek.mp3" aria-hidden="true"> 구백 (gubaek) </a></td>
                        <td class="column-3"></td>
                    </tr>
                    <tr class="row-38 even" role="row">
                        <td class="column-1">1000</td>
                        <td class="column-2"><a class="fas fa-volume-up" style="cursor: pointer !important;" data-audio-url="https://90daykoreanaudiobytes.s3-us-west-1.amazonaws.com/audio-cheon.mp3" aria-hidden="true"> 천 (cheon) </a></td>
                        <td class="column-3"></td>
                    </tr>
                    <tr class="row-39 odd" role="row">
                        <td class="column-1">2000</td>
                        <td class="column-2"><a class="fas fa-volume-up" style="cursor: pointer !important;" data-audio-url="https://90daykoreanaudiobytes.s3-us-west-1.amazonaws.com/audio-icheon.mp3" aria-hidden="true"> 이천 (icheon) </a></td>
                        <td class="column-3"></td>
                    </tr>
                    <tr class="row-40 even" role="row">
                        <td class="column-1">3000</td>
                        <td class="column-2"><a class="fas fa-volume-up" style="cursor: pointer !important;" data-audio-url="https://90daykoreanaudiobytes.s3-us-west-1.amazonaws.com/audio-samcheon.mp3" aria-hidden="true"> 삼천 (samcheon) </a></td>
                        <td class="column-3"></td>
                    </tr>
                    <tr class="row-41 odd" role="row">
                        <td class="column-1">4000</td>
                        <td class="column-2"><a class="fas fa-volume-up" style="cursor: pointer !important;" data-audio-url="https://90daykoreanaudiobytes.s3-us-west-1.amazonaws.com/audio-sacheon.mp3" aria-hidden="true"> 사천 (sacheon) </a></td>
                        <td class="column-3"></td>
                    </tr>
                    <tr class="row-42 even" role="row">
                        <td class="column-1">5000</td>
                        <td class="column-2"><a class="fas fa-volume-up" style="cursor: pointer !important;" data-audio-url="https://90daykoreanaudiobytes.s3-us-west-1.amazonaws.com/audio-ocheon.mp3" aria-hidden="true"> 오천 (ocheon) </a></td>
                        <td class="column-3"></td>
                    </tr>
                    <tr class="row-43 odd" role="row">
                        <td class="column-1">6000</td>
                        <td class="column-2"><a class="fas fa-volume-up" style="cursor: pointer !important;" data-audio-url="https://90daykoreanaudiobytes.s3-us-west-1.amazonaws.com/audio-yukcheon.mp3" aria-hidden="true"> 육천 (yukcheon) </a></td>
                        <td class="column-3"></td>
                    </tr>
                    <tr class="row-44 even" role="row">
                        <td class="column-1">7000</td>
                        <td class="column-2"><a class="fas fa-volume-up" style="cursor: pointer !important;" data-audio-url="https://90daykoreanaudiobytes.s3-us-west-1.amazonaws.com/audio-chilcheon.mp3" aria-hidden="true"> 칠천 (chilcheon) </a></td>
                        <td class="column-3"></td>
                    </tr>
                    <tr class="row-45 odd" role="row">
                        <td class="column-1">8000</td>
                        <td class="column-2"><a class="fas fa-volume-up" style="cursor: pointer !important;" data-audio-url="https://90daykoreanaudiobytes.s3-us-west-1.amazonaws.com/audio-palcheon.mp3" aria-hidden="true"> 팔천 (palcheon) </a></td>
                        <td class="column-3"></td>
                    </tr>
                    <tr class="row-46 even" role="row">
                        <td class="column-1">9000</td>
                        <td class="column-2"><a class="fas fa-volume-up" style="cursor: pointer !important;" data-audio-url="https://90daykoreanaudiobytes.s3-us-west-1.amazonaws.com/audio-gucheon.mp3" aria-hidden="true"> 구천 (gucheon) </a></td>
                        <td class="column-3"></td>
                    </tr>
                    <tr class="row-47 odd" role="row">
                        <td class="column-1">10000</td>
                        <td class="column-2"><a class="fas fa-volume-up" style="cursor: pointer !important;" data-audio-url="https://90daykoreanaudiobytes.s3-us-west-1.amazonaws.com/audio-man.mp3" aria-hidden="true"> 만 (man) </a></td>
                        <td class="column-3"></td>
                    </tr>
                    <tr class="row-48 even" role="row">
                        <td class="column-1">20000</td>
                        <td class="column-2"><a class="fas fa-volume-up" style="cursor: pointer !important;" data-audio-url="https://90daykoreanaudiobytes.s3-us-west-1.amazonaws.com/audio-iman.mp3" aria-hidden="true"> 이만 (iman) </a></td>
                        <td class="column-3"></td>
                    </tr>
                    <tr class="row-49 odd" role="row">
                        <td class="column-1">30000</td>
                        <td class="column-2"><a class="fas fa-volume-up" style="cursor: pointer !important;" data-audio-url="https://90daykoreanaudiobytes.s3-us-west-1.amazonaws.com/audio-samman.mp3" aria-hidden="true"> 삼만 (samman) </a></td>
                        <td class="column-3"></td>
                    </tr>
                    <tr class="row-50 even" role="row">
                        <td class="column-1">40000</td>
                        <td class="column-2"><a class="fas fa-volume-up" style="cursor: pointer !important;" data-audio-url="https://90daykoreanaudiobytes.s3-us-west-1.amazonaws.com/audio-saman.mp3" aria-hidden="true"> 사만 (saman) </a></td>
                        <td class="column-3"></td>
                    </tr>
                    <tr class="row-51 odd" role="row">
                        <td class="column-1">50000</td>
                        <td class="column-2"><a class="fas fa-volume-up" style="cursor: pointer !important;" data-audio-url="https://90daykoreanaudiobytes.s3-us-west-1.amazonaws.com/audio-oman.mp3" aria-hidden="true"> 오만 (oman) </a></td>
                        <td class="column-3"></td>
                    </tr>
                    <tr class="row-52 even" role="row">
                        <td class="column-1">60000</td>
                        <td class="column-2"><a class="fas fa-volume-up" style="cursor: pointer !important;" data-audio-url="https://90daykoreanaudiobytes.s3-us-west-1.amazonaws.com/audio-yungman.mp3" aria-hidden="true"> 육만 (yungman) </a></td>
                        <td class="column-3"></td>
                    </tr>
                    <tr class="row-53 odd" role="row">
                        <td class="column-1">70000</td>
                        <td class="column-2"><a class="fas fa-volume-up" style="cursor: pointer !important;" data-audio-url="https://90daykoreanaudiobytes.s3-us-west-1.amazonaws.com/audio-chilman.mp3" aria-hidden="true"> 칠만 (chilman) </a></td>
                        <td class="column-3"></td>
                    </tr>
                    <tr class="row-54 even" role="row">
                        <td class="column-1">80000</td>
                        <td class="column-2"><a class="fas fa-volume-up" style="cursor: pointer !important;" data-audio-url="https://90daykoreanaudiobytes.s3-us-west-1.amazonaws.com/audio-palman.mp3" aria-hidden="true"> 팔만 (palman) </a></td>
                        <td class="column-3"></td>
                    </tr>
                    <tr class="row-55 odd" role="row">
                        <td class="column-1">90000</td>
                        <td class="column-2"><a class="fas fa-volume-up" style="cursor: pointer !important;" data-audio-url="https://90daykoreanaudiobytes.s3-us-west-1.amazonaws.com/audio-guman.mp3" aria-hidden="true"> 구만 (guman) </a></td>
                        <td class="column-3"></td>
                    </tr>
                    <tr class="row-56 even" role="row">
                        <td class="column-1">100000</td>
                        <td class="column-2"><a class="fas fa-volume-up" style="cursor: pointer !important;" data-audio-url="https://90daykoreanaudiobytes.s3-us-west-1.amazonaws.com/audio-simman.mp3" aria-hidden="true"> 십만 (simman) </a></td>
                        <td class="column-3"></td>
                    </tr>
                    <tr class="row-57 odd" role="row">
                        <td class="column-1">1000000</td>
                        <td class="column-2"><a class="fas fa-volume-up" style="cursor: pointer !important;" data-audio-url="https://90daykoreanaudiobytes.s3-us-west-1.amazonaws.com/audio-baekman.mp3" aria-hidden="true"> 백만 (baengman) </a></td>
                        <td class="column-3"></td>
                    </tr>
                    <tr class="row-58 even" role="row">
                        <td class="column-1">10000000</td>
                        <td class="column-2"><a class="fas fa-volume-up" style="cursor: pointer !important;" data-audio-url="https://90daykoreanaudiobytes.s3-us-west-1.amazonaws.com/audio-cheonman.mp3" aria-hidden="true"> 천만 (cheonman) </a></td>
                        <td class="column-3"></td>
                    </tr>
                    <tr class="row-59 odd" role="row">
                        <td class="column-1">100000000</td>
                        <td class="column-2"><a class="fas fa-volume-up" style="cursor: pointer !important;" data-audio-url="https://90daykoreanaudiobytes.s3-us-west-1.amazonaws.com/audio-ireok.mp3" aria-hidden="true"> 일억 (ireok) </a></td>
                        <td class="column-3"></td>
                    </tr>
                    <tr class="row-60 even" role="row">
                        <td class="column-1">1000000000</td>
                        <td class="column-2"><a class="fas fa-volume-up" style="cursor: pointer !important;" data-audio-url="https://90daykoreanaudiobytes.s3-us-west-1.amazonaws.com/audio-sibeok.mp3" aria-hidden="true"> 십억 (sibeok) </a></td>
                        <td class="column-3"></td>
                    </tr>
                    <tr class="row-61 odd" role="row">
                        <td class="column-1">10000000000</td>
                        <td class="column-2"><a class="fas fa-volume-up" style="cursor: pointer !important;" data-audio-url="https://90daykoreanaudiobytes.s3-us-west-1.amazonaws.com/audio-baekeok.mp3" aria-hidden="true"> 백억 (baegeok) </a></td>
                        <td class="column-3"></td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>
</div>
{% endblock %}