{% extends 'layout.html' %} {% block body %}
<h1 class="text-center pb-3">Provinces of South Korea</h1>

<table class="table table-bordered">
    <tbody>
        <tr>
            <th>Historical province</th>
            <th>Name</th>
            <th>Official English name</th>
            <th>Hangul</th>
            <th>ISO</th>
            <th>Capital</th>
            <th>Cultural region</th>
            <th colspan="3">Abbreviation</th>
        </tr>
        <tr>
            <td rowspan="2">Chungcheong</td>
            <td>North Chungcheong</td>
            <td>Chungcheongbuk-do</td>
            <td><span lang="ko">충청북도</span></td>
            <td>KR-43</td>
            <td>Cheongju</td>
            <td rowspan="2">Hoseo</td>
            <td>Chungbuk</td>
            <td><span lang="ko">충북</span>
        </tr>
        <tr>
            <td>South Chungcheong</td>
            <td>Chungcheongnam-do</td>
            <td><span lang="ko">충청남도</span></td>
            <td>KR-44</td>
            <td>Hongseong</td>
            <td>Chungnam</td>
            <td><span lang="ko">충남</span></td>
        </tr>
        <tr>
            <td>Gangwon</td>
            <td>Gangwon</td>
            <td>Gangwon-do</td>
            <td><span lang="ko">강원도</span></td>
            <td>KR-42</td>
            <td>Chuncheon</td>
            <td>Gwandong</td>
            <td>Gangwon</td>
            <td><span lang="ko">강원</span>
        </tr>
        <tr>
            <td>Gyeonggi</td>
            <td>Gyeonggi</td>
            <td>Gyeonggi-do</td>
            <td><span lang="ko">경기도</span></td>
            <td>KR-41</td>
            <td>Suwon</td>
            <td>Sudogwon</td>
            <td>Gyeonggi</td>
            <td><span lang="ko">경기</span>
        </tr>
        <tr>
            <td rowspan="2">Gyeongsang</td>
            <td>North Gyeongsang</td>
            <td>Gyeongsangbuk-do</td>
            <td><span lang="ko">경상북도</span></td>
            <td>KR-47</td>
            <td>Andong</td>
            <td rowspan="2">Yeongnam</td>
            <td>Gyeongbuk</td>
            <td><span lang="ko">경북</span></td>
        </tr>
        <tr>
            <td>South Gyeongsang</td>
            <td>Gyeongsangnam-do</td>
            <td><span lang="ko">경상남도</span></td>
            <td>KR-48</td>
            <td>Changwon</td>
            <td>Gyeongnam</td>
            <td><span lang="ko">경남</span></td>
        </tr>
        <tr>
            <td rowspan="3">Jeolla</td>
            <td>North Jeolla</td>
            <td>Jeollabuk-do</td>
            <td><span lang="ko">전라북도</span></td>
            <td>KR-45</td>
            <td>Jeonju</td>
            <td rowspan="2">Honam</td>
            <td>Jeonbuk</td>
            <td><span lang="ko">전북</span></td>
        </tr>
        <tr>
            <td>South Jeolla</td>
            <td>Jeollanam-do</td>
            <td><span lang="ko">전라남도</span></td>
            <td>KR-46</td>
            <td>Muan</td>
            <td>Jeonnam</td>
            <td><span lang="ko">전남</span></td>
        </tr>
        <tr>
            <td>Jeju</td>
            <td>Jeju Special Self-governing Province</td>
            <td><span lang="ko">제주특별자치도</span></td>
            <td>KR-49</td>
            <td>Jeju</td>
            <td>Jeju</td>
            <td>Jeju</td>
            <td><span lang="ko">제주</span></td>
        </tr>
    </tbody>
</table>
{% endblock %}